body {
	background-image:url(images/seamless_paper_texture.png);
	font-family: 'Roboto', sans-serif;
	color: rgb(60, 59, 59)
} 

#content {
	margin-top: 7em;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

.aside-head h2 {
	font-size: 1.1em;
	font-style: normal;
}

/*main content*/


.feat-article {
	background-color: rgb(255,255,255);
	margin-bottom: 4em;
}

.featured-art h2 {
	font-size: 1.5em;
	margin-top: 0
}

.meta {
	padding-top: 2em;
	margin-bottom: 1em
}

.submission{
	padding-left: 1em;
	padding-right: 1em;
	border-style:solid;;
	border-width:thin;
	border-color: lightgrey;
}

.submission img {
	margin-bottom: 2em
}

.submission p {
	width: 80%;
	margin: auto;
	padding-bottom: 2em;
}

.submission-options {
	margin-bottom: 2em;
}

.submission button {
	margin-left: 10%;
}

.right-sub-options {
	float: right;
	margin-right: 10%
}

/*ASIDE*/

.aside-head {
	padding-bottom: 2em;
	border-bottom-style: solid;
	margin-bottom: 2em;
}

.past-art-post {
	margin-bottom: 2em;
}

.past-articles img {
	width: 100%;
}

.past-info {
	background-color: white;
	padding: 1em;
}

.past-info h1 {
	font-size: 2em;
	margin: 0 0 .5em 0;
}

.past-info h2 {
	font-size: 1em;
	margin: 0;
}

/*SMALL ASIDE LINKS*/

.small-past {
	margin-bottom: 1em;
}

.small-artlinks img {
	max-height: 65px;
	max-width: 130px;
}

.small-past-info {
	padding: 0;
	
}

.small-artlinks h1 {
	font-size: 1em;
	margin: 0 0 .5;
	position: relative;
	bottom: 1.4em;
}

.small-artlinks h2 {
	font-size: 1em;
	margin: 0;
	position: relative;
	bottom: 1.4em;
	
}