$prime-color: rgb(38, 39,	40);
$sec-color: rgb(29,	30, 31);
$a-color: rgb(152, 153, 154);
$h1-col: rgb(214, 214, 214);
$ops-font: 'Black Ops One', cursive;
$rail-font: "Raleway", sans-serif;

p, li {
  font-family: $rail-font;
}

h1, h2 {
  font-family: $ops-font;
}

.header-elements {
  nav {
    background-color: $prime-color;
    margin: 0;
    ul {
      display: inline-flex;
    }
  }
  .jumbotron {
    background-color: $sec-color;
    color: $h1-col;
    margin: -1em 0 -2em;
    text-align: left;
    padding-left: 2em;
  }
  .head-img {
    background-image: url(../images/largeband.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 15em;
    color: $h1-col;
    text-shadow: -5px -1px 11px $sec-color;
    font-size: 2em;
    h2 {
      position: relative;
      top: 10em;
      left: .5em;
    }
  }
}

.music-choices {
  background-color: $prime-color;

  .artist-panel {
    background-color: $prime-color;
  }

  .row {
    margin-top: 4em;
  }

  .inner-artist-wrap {
    background-color: $sec-color;
  }

  .mu-img-wrap {
    width: 100%;
    background-color: $sec-color;
  }

  img{
    width: 100%;
  }

  .mu-info {
    padding-left: 1.5em;
    h3 {
      color: $a-color;
      margin: .5 0 0;
      font-size: 1em;
    }
    p {
      color: $h1-col;
      font-size: 1.5em;
    }

    .ctrl-btn {
      color: $a-color;
      margin-bottom: 2em;
      padding-bottom: 1em;

      i, span {
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px) {

}
