#searchbar button, input {
    float: right;
    margin-top: 2em;
}

#searchbar button {
    background-color: darkorange;
    color: white;
    font-weight: bold;
    margin-left: .5em;
}

#searchbar input {
    background-color: 1c1c1c;
}

#top {
    background-color: 424242;
}

#top h1{
    padding-top: 0;
    color: cfcfcf;
}

#top nav {
    background-color: 1c1c1c;
    height: 3em;
    text-align: center;
    height: 2.5em;
}

#top nav li {
    display: inline;
    padding: .5em;
    margin-right: 3em;
}

#top nav a {
    text-decoration: none;
    font-size: 2em;
    color: cfcfcf;
}
/******* END TOP NAVIGATION CONTROLS, START INTRO *********/
#intro {
    margin-top: 2em;
    background-color: 424242;
}

#intro img {
    float: right;
    margin-right: -1em;
}

#intro h1, p {
    color: cfcfcf;
}

#intro p {
    font-family: 'Roboto', sans-serif;
}

#intro h1 {
    font-size: 4em
}

/******* END INTRO ELEMENTS, START MAIN *********/

#main {
    margin-top: 4em;
}

#images {
    float: right;
}

#images img {
    height: 15.4em; 
}

#text h1 {
    margin-top: 0;
}
#text p {
    color: black;
    max-height: 16em;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
}

/******* END MAIN, START FOOTER *********/

#footer{
    background-color: 1c1c1c;
    height: 2.5em;
    margin-top: 2em;
    text-align: center;
}

#footer a {
    color: cfcfcf;
    font-size: 2em;
}