h1 {
	font-family: 'Raleway', sans-serif;
}

a, p, h2 {
	font-family: 'Lora', serif;
}

h1, i, a {
    color: rgb(226, 8, 48);
    text-decoration: none;
}

p {
    color: rgb(102,102,102);
}

img {
    width: 90%;
}

a:hover{
	text-decoration: none;
} 

.hide {
    display: none;
}


.slide-up  {
	opacity: 0; 
	transition: all 400ms ease-out;
	transform: translate3d(0px, 200px, 0px);
	backface-visibility: hidden;
}

.slide-up.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

.slide-left {
	opacity: 0;
	transition: all 500ms linear;
	transform: translate3d(-500px, 0px, 0px);
}

.slide-left.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

.slide-right {
	opacity 0;
	transition: all 500ms linear;
	transform: translate3d(500px, 0px, 0px);
}

.slide-right.in-view {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}

/*
.in-view {
	animation: example 1300ms;
	transform: rotate(180deg);
	animation-duration: 7s;
}
*/

/***NAV***/

/*mobile*/

#mobile-menu {
    border-bottom-style: solid;
    border-color: rgb(226, 8, 48);
}


#mobile-menu i {
    font-size: 1.5em;
    padding: .1em .2em;
    margin-top: 1em;
	cursor: pointer;
}

#mobile-menu i:hover {
	color: rgb(123, 166, 222);
}

.open-min-nav {
    margin-top: -1em;
    color: rgb(128, 128, 128);
	width: 100%;
}

.open-min-nav ul {
    list-style: none;
    padding: 0;
}

.open-min-nav li {
    border-bottom: solid;
    border-bottom-width: thin;
    padding: .5em;
}

.open-min-nav li i {
    border-left-style: solid;
    border-width: thin;
    border-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    padding-left: .55em;
    position: absolute;
    left: 95%;
	cursor: pointer;
}

.open-min-nav li i:hover {
	color: rgb(123, 166, 222);
}

.open-min-nav a {
    color: rgb(128, 128, 128);
	cursor: pointer;
}

.open-min-nav a:hover {
	color: rgb(123, 166, 222);
}

#last-min-nav {
    border-width: medium;
    border-color: rgb(226, 8, 48);
}


/*desktop*/

.nav-logo-wrap {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-logo {
	height: 3em;
	width: 3em;
}

.m-nav-logo {
	height: 3em;
	width: 3.5em;
	margin-top: 1em;
}

.m-nav-text {
	display: inline-block;
	margin-top: 2.4em;
}

nav i {
	float: right;
}

#d-nav-options {
	height: 2.5em;
	background-color: rgb(247,247,247);
}
#desk-menu h1 {
    text-align: center;
	display: block;
    padding: 0 2em;
}

#desk-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
}

#desk-menu li {
    display: inline-block;
/*    margin-right: .9em;*/
    padding: .5em;
    border-right-style: solid;
    border-color: lightgrey;
    font-weight: 600;
    white-space: nowrap;
}

#desk-menu li a:hover {
	color: rgb(123, 166, 222);
}

#desk-menu .last {
    border-right-style: none;
}

/***CONTENT***/

.jumbotron {
	background-image: url(images/snow_riders.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 5em;
}

.jumbotron p {
	color: rgb(252, 248, 234);
	background-color: rgba(74, 73, 68, .6);
	display: inline-block;
}

.image-wrapper {
    margin-top: 6em;
    text-align: center;
}

#how {
    margin: 2em 0;
}

#how h1 {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: -3em auto 1em;
}

#how p {
    text-align: center;
    max-width: 35em;
    margin: 0 auto;
}

/*NEWS*/

#news {
	margin-top: -4em;
}

.news-wrapper-wrapper {
	text-align: center;
}

#upcoming, #in-news {
	display: inline-block;
}

#upcoming img, #in-news img {
	width: 372px;
	height: 260px;
}

#upcoming {
	margin-right: 2em;	
}

#upcoming, #in-news {
	text-align: left;
}


#news h1 {
    color: white;
    position: relative;
    bottom: 1.4em;
    font-size: 1.3em;
    width: 372px;
    margin: 0 auto;
}

#news h2 {
    background-color: rgb(123, 166,	222);
    color: white;
    position: relative;
    bottom: 1.5em;
    font-size: 1.2em;
    width: 372px;
    margin: 0 auto -4em;
}


/*GIVING BACK*/

.wrapper-wrapper {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 4em;
}

#giving-back .image-wrapper {
/*	width: 20em;*/
/*	height: 290px;*/
	display: inline-block;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: .5em;
}

.test-circle {
	width: 20em;
	height: 20em;
	background-image: url('images/cityscape.jpg');
	border-radius: 20em;
	border-style: solid;
	border-color: red;
	border-width: thick;
	padding-top: 1em;
	margin: 1em auto 0;
}

.test-circle2 {
	width: 20em;
	height: 20em;
	background-image: url('images/airplane.jpg');
	border-radius: 20em;
	border-style: solid;
	border-color: red;
	border-width: thick;
	padding-top: 1em;
	margin: 1em auto 0;
}

.test-circle3 {
	width: 20em;
	height: 20em;
	background-image: url('images/Welding.jpg');
	border-radius: 20em;
	border-style: solid;
	border-color: red;
	border-width: thick;
	padding-top: 1em;
	margin: 1em auto 0;
}



.test-circle p {
	position: relative;
	font-size 4em;
	padding: 7.5em;
	border-radius: 10em;
	color: red;
	font-weight: bolder;
}


#giving-back img {
    width: 280px;
    height: 280px;
    border-radius: 400px;
    border-style: solid;
    border-color: rgb(226, 8, 48);
}

.giv-1:hover .mouseover-text {
	display: block;
}

.giv-2:hover .mouseover-text {
	display: block;
}

.giv-3:hover .mouseover-text {
	display: block;
}

/*POPOUT LOGO PORTION*/

#pop-out-logo {
	height: 5em;
}

#po-static {
	border-style: solid;
	border-width: thick;
	border-color: red;
	width: 30%;
	height: 20em;
	opacity: .6;
	margin: 0 auto;
	margin-bottom: -17em;
	max-width: 20em;
	display: block;
}

#po-logo {
	border-style: solid;
	border-width: thick;
	border-color: red;
	height: 15em;
	background-color: white;
	max-width: 25em;
	margin: 0 auto;
}

#po-logo img {
	width: 5em;
	height: 5em;
	position: relative;
	top: 2em;
	left: 6em;
}

#po-logo p {
	font-size: 2em;
	display: inline-block;
	position: relative;
	top: 1.8em;
	left: 4em;
}

.pop-out {
	transform: scale(0);
	transition: .5s;
}

.pop-out.in-view {
	transform: scale(1);
}

/*MID TEXT SECTION*/

#mid-text-section {
/*	margin-top: -10em;*/
/*	float: right;*/
}

/*FINAL CHOICES*/

#final-choices ul {
    margin-top: 4em;
    list-style: none;
    padding: 2em;
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: rgb(226, 8, 48);
    border-width: thin;
}

#final-choices li {
    padding: 1em;
    margin-bottom: 1em;
    border-style: solid;
    border-color: rgb(226, 8, 48);
    border-width: thick;
	width: 270px;
	display: inline-block;
	margin-right: 2%;
}

/***FOOTER***/

footer {
    padding-bottom: 3em;
    padding-top: .5em;
    text-align: center;
}

footer p {
    color: rgb(226, 8, 48);
}

footer i {
    margin-top: 1em;
    
}

.fa-facebook {
    padding: .3em .5em;
    background-color: rgb(80, 124, 190);
    color: white;
}

.fa-twitter {
    padding: .3em .4em;
    background-color: rgb(99, 205, 241);
    color: white;
}

.fa-instagram {
    padding: .3em .4em;
    background-color: rgb(199, 197,	179);
    color: white;
}