body {
    background-image: url(images/clouds.jpg);
}

img {
    max-width: 2400px;
    max-height: 3600px;
}

#intro {
    font-size: 1.4em;
    text-align: center;
}

#intro p button {
    font-size: .6em;
}

#project_row1 {
    width: 100%;
    font-size: .7em;
}

#project_row1 img {
    width: 100%;
    margin-bottom: .5em;
}

#project_row1 button {
    margin-top: .5em;
}

#project_row2 {
    width: 100%;
    font-size: .7em;
}

#project_row2 img {
    width: 100%
}

#project_row2 button {
    margin-top: .5em;
}

#communications h2 {
    font-size: 1.5em;
}

#communications p {
    font-size: .7em
    
    /*    Hide these under buttons on mobile. Requires                 Javascript. I'd like to also organize them in a 
        2/2 grid*/
}

#feedback-form {
    margin-top: .5em;
}


#footer {
    height: 3em;
    width: 100%;
    background-color: black;
}

@media screen and (min-width: 700px) {
    #intro{
        text-align: left;
    }
    
    
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 900px) {
    #intro {
        
    }
    
    body {
        background-color: aqua;
    }
}