body {
    background-image: url(images/clouds.jpg);
}

img {
    max-width: 500px;
    max-height: 333px;
}


#intro {
    font-size: 1.4em;
    text-align: center;
}

#intro a {
    font-size: .6em;
    font-weight: bold;
    text-decoration: none;
    color: 6f87ab;
    background-color: white;
    padding: .3em;
    border-radius: .5em;
}

#intro a:hover {
    color: orangered;
}

#project_row1 p, #project_row2 p {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
}

#project_row1 a, #project_row2 a {
    font-weight: bold;
    text-decoration: none;
    color:  50617b;
    background-color: white;
    padding: .3em;
    border-radius: .5em;
    border-style: solid;
    border-color: 6f87ab;
}

#project_row1 a:hover, #project_row2 a:hover {
    color: orangered;
}

#project_row1 {
    width: 100%;
    font-size: .7em;
}

#project_row1 img {
    width: 100%;
    margin-bottom: .5em;
}


#project_row2 {
    width: 100%;
    font-size: .7em;
}

#project_row2 img {
    width: 100%
}

#communications h2 {
    font-size: .8em;
    text-align: center;
    color: 50617b;
    background-color: white;
    padding: .3em;
    border-radius: .5em;
}

#communications h2:hover {
    color: orangered;
}

#communications p {
    font-size: .7em;
    display: none;
    /*    Hide these under buttons on mobile. Requires                 Javascript. I'd like to also organize them in a 
        2/2 grid*/
}

#feedback-form {
    margin-top: .5em;
    background-color: c76900;
    color: 50617b;
    font-weight: bold;
}

#feedback-form button:hover {
    color: orangered;
}

#feedback-form textarea, #feedback-form input {
    width: 100%
}


#footer {
    height: 3em;
    width: 100%;
    background-color: black;
}


@media screen and (min-width: 550px) {
    #intro{
        text-align: left;
    }
    
    #project_row1 p, #project_row2 p {
        max-width: 527px;
        max-height: 445px;
        margin-right: 2em;
        display: inline-block;
    }
    
    #project_row1, #project_row2 {
        text-align: center;
    }
}