/*GENERAL*/

body {
	background-color: rgb(34, 34, 34);
}

.jumbotron-main h1, h1 {
	font-family: 'Permanent Marker', cursive;
	color: rgb(155, 115, 0);
}

h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	color: rgb(193,	193,193);
}

a, i {
	color: rgb(155, 139, 0);
}

a:hover {
	text-decoration: none;
	color: rgb(252, 232, 54);
}

a:focus {
	color: rgb(252, 232, 54);
}

p, li {
	color: rgb(193,	193,193)
}

.important {
		color: rgb(155, 115, 0);
}

/****NAVIGATION****/

.navbar {
	margin-bottom: 0;
}

.navbar li {
	display: inline-block;
}

#hidden-nav {
	width: 0;
	position: fixed;
	right: 0;
	height: 100%;
	z-index: 99;
	background-color: rgb(34, 34, 34);
	transition: .5s;
	border-left-style: solid;
	border-width: thin;
	border-color: rgb(34, 34, 34);
}

#nav-text {
	padding: 1em;
}

#hidden-nav ul {
	list-style: none;
	padding-left: 1em;
	margin-top: 2em;
}

#hidden-nav li {
	margin-bottom: 1.5em;
}

#hidden-nav .fa-close{
	font-size: 2em;
	padding: .3em .4em;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #EBB000;
	transition: .2s;
}

.navbar-header .navbar-toggle:hover {
	background-color: #EBB000;
	transition: .2s;
}

/*icon fixes*/

.fa-circle {
	font-size: .4em;
	position: relative;
	bottom: .5em;
}

.fa-github, .fa-envelope{
	font-size: 2.5em;
	float: left;
}

.fa-github {
	margin: 0 .5em 1em 0;
}

.fa-envelope {
	margin-right: .5em;
	margin-bottom: 10%;
}

.fa-github:hover, .fa-envelope:hover {
	color: white;
	transition: .2s;
}

/*TOP PORTION. NAV AND JUMBOTRON*/

.jumbotron-main {
	background-color: rgb(34, 34, 34);
	text-align: left;
	padding-left: 2em;
	margin-top: 3.5em;
	margin-bottom: 0;
}

/*MIDDLE PORTION, UPDATABLE BITS*/

#updatable-content {
	margin-bottom: 5em;
}


.imported-content {
	margin-top: 5em;
	height: 65%;
}

.page-heading {
	padding: 1em 1em 1em;
	white-space: nowrap;
	color: black;
	font-size: 2em;
	color: rgb(193,	193,193);
	text-align: center;
}

.main-img-wrap {
	width: 70%;
	margin-bottom: 4em;
}

.right {
	float: right;
}

.project-wrapper img {
	padding: 1em;
	background-color: rgb(94, 94, 94);
}

.project-wrapper img:hover {
	background-color: #EBB000;
	transition: .5s;
}

/*BOTTOM PORTION OF PAGE*/

.project-info-about {
	background-color: rgb(88, 88, 88);
	padding-top: 2em;
	padding-bottom: 1em;
}

.project-info-about p {
	max-width: 45em;
	margin: 0 auto 1em;
}


.project-info-links {
	background-color: rgb(34, 34, 34);
	padding-top: 2em;
}

/*My photo*/


.ricky {
	height: 8em;
	float: left;
	margin-right: 1em;
	margin-bottom: .5em;
}

/****ADJUSTMENTS FOR DETAILED PROJECT INFO PAGES*******/

.project-info-content {
	background-image: url(Images/congruent_outline.png);
	color: white;
	padding-top: 3em;
	padding-bottom: 4em;
}

.proj-pic-wrapper img {
	padding-bottom: 2em;
	width: 100%;
}

.mobile-clicky {
	text-align: center;
	font-size: 3em;
	margin-bottom: 2em;
}

.project-info p {
	font-size: 1.2em;
}

.explaination-list {
 	padding-left: 1em;
}

.explaination-list li{
	font-size: 1.2em;
	margin-bottom: 1em
}

.other-projects {
	padding-bottom: 2em;
}

.other-projects ul {
	list-style-type: none;
	padding: 0;
	font-size: 1.2em;
}

.other-projects a:hover {
	text-decoration: none;
}

@media (min-width: 990px) {
	.jumbotron-main {
		margin-top: 4em;
	}

	.main-img-wrap {
		width: 60%;
		margin-bottom: 7em;
	}

	.page-heading {
		margin-bottom: 2em;
		font-size: 3em;
	}
}
