.imported-content {
	color: white;
	padding-top: 7em;
	padding-bottom: 4em;
	min-height: 80%;
}

.proj-pic-wrapper img {
	padding-bottom: 2em;
	width: 100%;
}

.mobile-clicky {
	text-align: center;
	font-size: 3em;
	margin-bottom: 2em;
}

.project-info h1{
  margin-top: 0;
}

.project-info p {
	font-size: 1.2em;
	padding-bottom: 2em;
}

.explaination-list {
 	padding-left: 1em;
}

.explaination-list li{
	font-size: 1.2em;
	margin-bottom: 1em
}

.other-projects {
	padding-bottom: 2em;
}

.other-projects ul {
	list-style-type: none;
	padding: 0;
	font-size: 1.2em;
}

.other-projects a:hover {
	text-decoration: none;
}
