h1 {
	font-family: 'Cabin', sans-serif;
}

h2, p {
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}

button {
	background-color: white;
	border-width: thin;
	border-radius: 3px;
	border: none;
}


/*OPEN NAV RULES*/

nav {
	display: inline-block;
	position: fixed;
	right: 0;
	height: 100%;
	z-index: 99;
	border-left-style: solid;
	border-left-width: thin;
	border-left-color: lightgray;
	width: 14em;
	padding: 2em 2em;
	background-color: white;
}

nav ul {
	list-style: none;
	padding: 0;
	font-size: 1.2em;
}

nav li {
	padding: .5em;
}

nav .hoz-seperator {
	height: .1em;
	padding: 0;
	background-color: lightgrey;
}

nav a {
	color: black;
}

nav a:hover {
	color: lightgreen;
}

nav button {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	background-color: lightgreen;
	border-style: solid;
	border-width: thin;
	border-color: lightgreen;
	color: white;
	padding: .5em 0;
}

nav .second-button {
	background-color: transparent;
	color: black;
	border-color: lightgrey;
}


/*JUMBOTRON*/

.jumbotron {
	background-image: url('Images/planes.jpg');
	background-size: cover;
	background-position: center;
	color: white;
}

.jumbotron i {
	float: right;
	font-size: 2em;
	padding: .5em;
	color: white;
}

.jumb-right {
	text-align: center;
}

.jumb-right button {
	background-color: lightgreen;
	border-color: lightgreen;
	border-width: 3px;
	border-style: solid;
	margin-right: 1em;
	font-size: 1em;
	padding: .5em 2em;
	margin-top: 3em;
}

#jumb-sec-button {
	margin-right: 0;
	background-color: transparent;
	border-color: white;
}

/*ABOUT*/

#ab-txt-wrap {
	max-width: 34em;
	margin: 0 auto;
}

#ab-button-wrap {
	text-align: center;
}

#ab-button-wrap button {
	border-style: solid;
	border-color: grey;
	border-width: thin;
	padding: .5em 2em;
}

#ab-right-wrap {
	text-align: center;
	margin-top: 1em;
}

#about-right img {
	width: 5em;
	height: 5em;
	border-radius: 10em;
}

/*PRODUCTS*/

#product-section {
	background-color: lightgrey;
	margin-top: 3em;
}

#product-header {
	text-align: center;
	margin-bottom: 2em;
}

#product-info {
	text-align: center;
}


#product-info section {
	background-color: white;
	margin-bottom: 1em;
	border-radius: .2em;
	padding: 3em 1em;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 1em;
	border-color: lightgray;
}

#product-info i {
	font-size: 2em;
	color: green;
	padding: .8em;
	border-style: solid;
	border-width: thin;
	border-color: lightgray;	
}

#product-info p {
	max-width: 30em;
	margin: 0 auto;
}

#product-info button {
	background-color: transparent;
	padding: 1em 3em;
	border-style: solid;
	border-color: darkgrey;
	border-width: thin;
	margin-bottom: 2em
}

/*FEATURED*/

#feat-products section{
	border-bottom-style: solid;
	border-bottom-color: light-grey;
	border-width: thin;
	padding: 1em 1em 2em;
}

.feat-img-wrap {
	text-align: center;
}

#feat-products img {
	width: 100%;
	height: auto;
	padding: 2em;
	max-width: 30em;
/*	margin: 0 auto;*/
}

.feat-text h1 {
	font-size: 1.5em;
}

#feat-products p {
	max-height: 10em;
	overflow: scroll;
}

/*LAST SECTION*/

#fin {
	text-align: center;
	background-color: lightgray;
	padding: 3em 3em 5em;
}

#fin p {
	max-width:55em;
	margin: 0 auto;
}


#fin button {
	background-color: lightgreen;
	color: white;
	padding: .5em 3em;
	margin-top: 1em;
}

/*FOOTER*/

footer {
	background-image: url(Images/planes.jpg);
	background-position: bottom;
	height: 10em;
	padding: 3em;
}

footer a {
	color: purple;
	font-size: 1em;
}

footer ul {
	padding: 0;
}

.seperator {
	height: 1em;
	width: .1em;
	background-color: purple;
}

#foot-left {
	text-align: center;
}

#foot-right {
	text-align: center;
}

.hoz-links li {
	display: inline-block;
	margin-right: .5em;
}


.hoz-icons li{
	display: inline-block;
	margin-right: 1em;
	font-size: 1.5em;
}

@media only screen and (min-width : 992px) {
	
	#ab-right-wrap img {
		width: 7em;
		height: 7em;
	}
	
	.feat-text h1 {
		font-size: 3em;
	}
}