h1 {
	font-family: 'Cabin', sans-serif;
}

h2, p {
	font-family: 'Open Sans', sans-serif;
}

button {
	background-color: white;
	border-width: thin;
	border-radius: 3px;
	border: none;
}

nav {
	display: inline-block;
	float: right;
}

nav ul {
	list-style: none;
	padding: 0;
}

.menu-options {
	background-color: white;
	height: 100%;
	padding: 1em;
	z-index: 999;
/*	position: absolute;*/
}

/*JUMBOTRON*/

.jumbotron {
	background-image: url('Images/planes.jpg');
	background-size: cover;
	background-position: center;
	color: white;
}

.jumbotron i {
	float: right;
	font-size: 2em;
	padding: .5em;
	color: white;
}

.jumb-right {
	text-align: center;
}

.jumb-right button {
	background-color: lightgreen;
	border-color: lightgreen;
	border-width: 3px;
	border-style: solid;
	margin-right: 1em;
	font-size: 1em;
	padding: .5em 2em;
	margin-top: 3em;
}

#jumb-sec-button {
	margin-right: 0;
	background-color: transparent;
	border-color: white;
}

/*ABOUT*/

#ab-txt-wrap {
	max-width: 34em;
	margin: 0 auto;
}

#ab-button-wrap {
	text-align: center;
}

#ab-button-wrap button {
	border-style: solid;
	border-color: grey;
	border-width: thin;
	padding: .5em 2em;
}

#ab-right-wrap {
	text-align: center;
	margin-top: 1em;
}

#about-right img {
	width: 5em;
	height: 5em;
	border-radius: 10em;
}

/*PRODUCTS*/

#product-section {
	background-color: lightgrey;
	margin-top: 3em;
}

#product-header {
	text-align: center;
	margin-bottom: 2em;
}

#product-info {
	text-align: center;
}


#product-info section {
	background-color: white;
	margin-bottom: 1em;
	border-radius: .2em;
	padding: 3em 1em;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 1em;
	border-color: lightgray;
}

#product-info i {
	font-size: 2em;
	color: green;
	padding: .8em;
	border-style: solid;
	border-width: thin;
	border-color: lightgray;	
}

#product-info p {
	max-width: 30em;
	margin: 0 auto;
}

#product-info button {
	background-color: transparent;
	padding: 1em 3em;
	border-style: solid;
	border-color: darkgrey;
	border-width: thin;
	margin-bottom: 2em
}


#fin {
	text-align: center;
}

footer {
	background-image: url(Images/planes.jpg);
	background-position: bottom;
	height: 10em;
}

.hoz-links li {
	display: inline-block;
}

.hoz-icons ul {
	
}

.hoz-icons li{
	display: inline-block;
}