.mainPageContainer {
  text-align: center;
  position: absolute;
  top: 25%;
  background-color: $box-col;
  padding-bottom: 2em;
  h1 {
    font-size: 4em;
  }
  .machine {
    margin: 2em 0 2em;
    font-size: 1em;
    &:hover{
      color: $highlights;
    }
  }
  .human {
    font-size: 1.3em;
    &:hover{
      color:$highlights;
    }
  }
}
