.twoPlay {
  background-color: $back-color;
  background-image: url(/app/images/highFive.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  .ticPlayArea {
    background-color: rgba(220,220,220,.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 27em;
    text-align: center;
    .playerTurn {
      font-size: 1.5em;
      margin-top: 1em;
    }
    .row {
      font-size: 2em;
      color: $highlights;
      border-color: black;
      margin: 0 auto;
      .selectWrap{
        display: inline-block;
        margin-right: .5em;
        padding: 0;
      }
      .squares {
        width: 3em;
        height: 3em;
        border-style: solid;
        border-radius: .5em;
        margin-bottom: 1em;
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: .3s;
        &:hover {
          border-color: white;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-weight: bolder;
        }
      }
      .squares:not(:last-child) {
        margin-right: .5em;
      }
      .oPlayer {
        background-color: $sec-col;
      }
      .xPlayer {
        background-color: $third-col;
      }
      .noPlayer {
        background-color: $highlights;
      }
    }
    .row:first-child{
      margin-top: 1em;
    }
  }
}

.innerPlay {
  width: 100%;
}
