.welcomePage {
  .welIntro {
    background-color: $w-prime;
    padding: 1em 1em 2em;
    color: white;
    h1 {
      padding-bottom: .5em;
      border-bottom-style: solid;
      border-bottom-color: white;
    }
    .welAbout {
      font-size: 1.3em;
      max-width: 35em;
    }
  }

  .ticTac {
    color: black;
    cursor: pointer;
    background-image: url("/app/images/ticTacToe.png");
    background-position: center;
    background-size: cover;
    background-origin:content-box;
    background-repeat: no-repeat;
    height: 18em;
    position: relative;
    transition: .2s;
    margin-left: 1em;
      &:hover {
        border-style: solid;
        border-color: white;
        text-shadow: 3px 1px 29px rgba(255, 255, 255, 1);
      }
      h1, h2 {
        position: absolute;
        z-index: 1;
        padding: 0 .5em;
      }
      h2 {
        top: 5em;
      }
    .welOverlay {
      background-color: $w-fourth;
      height: 18em;
      opacity: .9;
      transition: .5s;
      &:hover {
        opacity: .5;
      }
    }
  }

  .proj2 {
    color: black;
    cursor: pointer;
    background-image: url("/app/images/ticTacToe.png");
    background-position: center;
    background-size: cover;
    background-origin:content-box;
    background-repeat: no-repeat;
    height: 18em;
    position: relative;
    transition: .2s;
      &:hover {
        border-style: solid;
        border-color: white;
        text-shadow: 3px 1px 29px rgba(255, 255, 255, 1);
      }
      h1, h2 {
        position: absolute;
        z-index: 1;
        padding: 0 .5em;
      }
      h2 {
        top: 5em;
      }
    .welOverlay {
      background-color: $w-sec;
      height: 18em;
      opacity: .9;
      transition: .5s;
      &:hover {
        opacity: .5;
      }
    }
  }

  .proj3 {
    color: black;
    cursor: pointer;
    background-image: url("/app/images/ticTacToe.png");
    background-position: center;
    background-size: cover;
    background-origin:content-box;
    background-repeat: no-repeat;
    height: 18em;
    position: relative;
    transition: .2s;
    margin-left: 1em;
      &:hover {
        border-style: solid;
        border-color: white;
        text-shadow: 3px 1px 29px rgba(255, 255, 255, 1);
      }
      h1, h2 {
        position: absolute;
        z-index: 1;
        padding: 0 .5em;
      }
      h2 {
        top: 5em;
      }
    .welOverlay {
      background-color: $w-third;
      height: 18em;
      opacity: .9;
      transition: .5s;
      &:hover {
        opacity: .5;
      }
    }
  }


  .proj4 {
    color: black;
    cursor: pointer;
    background-image: url("/app/images/ticTacToe.png");
    background-position: center;
    background-size: cover;
    background-origin:content-box;
    background-repeat: no-repeat;
    height: 18em;
    position: relative;
    transition: .2s;
      &:hover {
        border-style: solid;
        border-color: white;
        text-shadow: 3px 1px 29px rgba(255, 255, 255, 1);
      }
      h1, h2 {
        position: absolute;
        z-index: 1;
        padding: 0 .5em;
      }
      h2 {
        top: 5em;
      }
    .welOverlay {
      background-color: $w-fifth;
      height: 18em;
      opacity: .9;
      transition: .5s;
      &:hover {
        opacity: .5;
      }
    }
  }


  .proj5 {
    color: black;
    cursor: pointer;
    background-image: url("/app/images/ticTacToe.png");
    background-position: center;
    background-size: cover;
    background-origin:content-box;
    background-repeat: no-repeat;
    height: 18em;
    position: relative;
    transition: .2s;
    margin-left: 1em;
      &:hover {
        border-style: solid;
        border-color: white;
        text-shadow: 3px 1px 29px rgba(255, 255, 255, 1);
      }
      h1, h2 {
        position: absolute;
        z-index: 1;
        padding: 0 .5em;
      }
      h2 {
        top: 5em;
      }
    .welOverlay {
      background-color: $w-prime;
      height: 18em;
      opacity: .9;
      transition: .5s;
      &:hover {
        opacity: .5;
      }
    }
  }


  .proj6 {
    color: black;
    cursor: pointer;
    background-image: url("/app/images/ticTacToe.png");
    background-position: center;
    background-size: cover;
    background-origin:content-box;
    background-repeat: no-repeat;
    height: 18em;
    position: relative;
    transition: .2s;
      &:hover {
        border-style: solid;
        border-color: white;
        text-shadow: 3px 1px 29px rgba(255, 255, 255, 1);
      }
      h1, h2 {
        position: absolute;
        z-index: 1;
        padding: 0 .5em;
      }
      h2 {
        top: 5em;
      }
    .welOverlay {
      background-color: $w-sec;
      height: 18em;
      opacity: .9;
      transition: .5s;
      &:hover {
        opacity: .5;
      }
    }
  }


  .welFooter {
    background-color: $w-prime;
    padding: 1em;
    color: white;
    h1 {
      border-bottom-style: solid;
      padding-bottom: .5em;
    }
    p {
      padding-top: 1em;
    }
  }
}

@media (max-width: 992px) {
  .welProject {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .ticTac, .proj3, .proj5 {
    position: relative;
    right: 1em;
  }
}

.gameList {
  background-color: $w-prime;
  height: 100%;
}

@media(min-width : 992px) {
  .welIntro h1{
    font-size: 4em;
  }
}
