#loading-page {
    display: none;
}

/*LEFT SIDE ELEMENTS*/

html {
    background-image: url('Images/FirePlace.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment:local;
    height: 100%;
}

.main-slides img {
    display: none;
}

.main-slides ul {
    list-style: none;
}

#more-info {
    display: block;
}

/*****NAV ITEMS*******/

/*OPEN PANEL*/

#right-panel {
    background-color: rgb(255, 224, 0);
    padding-top: .5em;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 186px;
    max-width: 340px;
    min-height: 380px;
}

#nav-items .fa {
    display: block;
    font-size: 2em;
}

#right-panel a {
    display: block;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: .3em;
    text-decoration: none;
    white-space: nowrap;
    
}

#sharing-icons {
    position: absolute;
    bottom: 5em;
}

#sharing-icons a {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

#footer-info {
    position: absolute;
    bottom: 0;
}

aside p {
    margin: 0;
}

/*Closed PANEL*/

#min-right-panel {
    background-color: rgb(255, 224, 0);
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    width: 2em;
    height: 100%;
    padding-top: 1em;
    padding-right: 1.2em;
}

#min-right-panel .fa {
    padding: .2em;
}

.hide {
    display: none;
}

