#loading-page {
    display: none;
}

.main-slides img {
    display: none;
}

/*
.main-slides .active{
    display: block;
    height: 100%;
    width: 100%;
    max-width: 3000px;
    position: absolute;
    background-image: url(Images/FirePlace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/
