#loading-page {
    display: none;
}

.main-slides img {
    display: none;
}

.main-slides ul {
    list-style: none;
}

.main-slides .active {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
.main-slides .active{
    display: block;
    height: 100%;
    width: 100%;
    max-width: 3000px;
    position: absolute;
    background-image: url(Images/FirePlace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*NAV ITEMS*/

aside {
    background-color: rgb(255, 224, 0);
    padding: 2em;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 186px;
    max-width: 340px;
}

#nav-items .fa {
    display: block;
    font-size: 2em;
}

aside a {
    display: block;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: .3em;
    text-decoration: none;
    
}

#sharing-icons {
    position: absolute;
    bottom: 5em;
}

#sharing-icons a {
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

#footer-info {
    position: absolute;
    bottom: 0;
}

aside p {
    margin: 0;
}

#min-right-panel {
    background-color: rgb(255, 224, 0);
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1%;
    display: none;
}

/*
#right-panel {
    display: none;
}
*/

