

@keyframes backgroundScroll{
  50% {background-image: url("/app/images/clouds.jpg");
  }
  75% {background-image: url("/app/images/hills.jpg")
  }
  100% {background-position: right; background-image: url("/app/images/mountains.jpg")}
 }

nav {
    height: 3em;
    background-color: lightgrey;
    ul {
        list-style: none;
        padding-left: 0;
        text-align: center;
        padding-top: .5em;
    }
    li {
        display: inline-block;
        font-size: 2em;
        cursor: pointer;
        white-space: nowrap;
        transition: .5s;
        &:hover {color: $btn-col;}
        &:not(:last-child){
            margin-right: 2em;
        }
    }
}

.homeBody {
    background-image: url("/app/images/cityscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: left;
    animation-name: backgroundScroll;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    .page {
        position: relative;
        background-color: rgba(0, 0, 0, .7);
        height: 100%;
        padding: 2em;
        margin-top: -1.5em;
        width: 100%;
        .content {
            color: rgb(212, 232, 235);
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -60%);
            margin: 0 auto;
            padding-top: 5em;
            input{
                display: block;
                width: 20em;
                margin: 0 auto;
                margin-top: 2em;
                margin-bottom: 1em;
                background-color: rgba(128, 128, 128, .7);
                border-style: none;
                height: 2.5em;
                padding-left: 1em;
                color: white;
                transition: .2s;
                text-decoration: none;
                &:hover {
                  border-style: solid;
                  border-color: white;
                  text-decoration: none;
                }
            }
            button {
                display: block;
                width: 20em;
                margin: 0 auto;
                background-color: rgb(21, 245, 147);
                color: white;
                font-weight: bolder;
                border-style: none;
                margin-bottom: 2em;
                height: 2.5em;
                transition: .5s;
                &:hover {
                  border-style: solid;
                  border-color: white;
                }
            }
            .head-icons {
                font-size: 2em;
                margin-bottom: .5em;
                i{
                  cursor: pointer;
                  margin-right: 1em;
                  transition: .5s;
                  &:hover{
                    color: rgb(21, 245, 147);
                }
                }
            }
        }
    }
}
