.userNav {
  .shopHeader {
    padding: 1em;
    position: relative;
    span {
      padding-right: 1em;
    }
    .searchBar {
      display: inline-block;
      width: 10em;
      input {
        border-style: solid;
        border-width: thin;
        padding-left: .5em;
      }
    }
    .fa-shopping-cart {
      float: right;
      margin-top: .2em;
    }
  }

  .shopNav {
    background-color: $btn-col;
    color: white;
    button {
      border-color: white;
    }
  }
}
