#top-banner {
    background-color: grey;
    color: azure;
    margin-bottom: 2em;
}

#top-banner nav ol {
    margin-top: 1.5em;
}

#top-banner nav a {
    color: azure;
    margin-right: 1.5em;
    text-decoration: none;
    padding: .5em;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
}

/*Images and Description*/

#init-images {
    margin-bottom: 2em
}

#init-images figure {
    margin-right: 6.667% 
}

#init-images img {
    width: 100%;
    height: 25em; 
}

#description {
    margin-bottom: 2em;
}

/* Products */

#product-row {
    margin-bottom: 2em;
}

#product-row a{
    margin-left: 30%;
    text-decoration: none;
}

/* Aside Category Links */

#cat-links {
    position: relative;
    bottom: 34.5em;
}

#cat-links ul {
    margin-top: -.8em
}

#cat-links a {
    text-decoration: none;
}