h1, h2 {
	font-family: 'Actor', sans-serif;
}

h1 {
	color: rgb (177, 202, 101)
}

p {
	font-family: 'Raleway', sans-serif;
	color: rgb(154,154,154);
}

a {
	color: rgb(177, 202, 101);
}


.nav-pills > li > a:hover {
	color: black;
	background-color: rgb(168, 219, 146);;
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
	background-color: rgb(61, 81, 0);
}

.updatable-content {
	margin-top: 3.6em;
	background-image: url(images/stardust.png);
}

.featured {
	background-color: white;
	padding: 2em;
}

.subheads {
	background-color: lightblue;
	padding: 2em;
}

/***Index***/
.intro-title-img{
	background: url(images/Index_collage/collage.jpg) no-repeat center center;
	background-size: contain;
	color: white;
	width: 100%;
	max-width: 2000px;
	padding: 5em 0;
}

.title-text {
	color: rgb(177, 202, 101);
	font-weight: bold;
	text-align: center;
	background-color: grey;
	opacity: .9;
	max-width: 665px;
	margin: auto;
}


@media (min-width: 768px) {
	body {
		background-color: rgb(34,34,34);
	}
	
	nav {
		width: 15em;
		height: 100%;
		min-height: 100%;
		padding-top: 2em;
		float: left;
		position: fixed;
		bottom: 0;
	}
	
	.updatable-content {
		margin-left: 15em;
		background-color: white;
		margin-top: 0;
	}
}