<!DOCTYPE html/>

<html>
    <head>
        <link href="../normalize.css" rel="stylesheet"/>
        <link href="../unsemantic-grid-responsive.css"
              rel="stylesheet"/>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <div id="page">
        <nav class="grid-container">
            <ul>
                <li><a href="link1.html">Link 1</a></li>
                <li><a href="link2.html">Link 2</a></li>
                <li><a href="link3.html">Link 3</a></li>
                <li><a href="link4.html">Link 4</a></li>
                <li><a href="link5.html">Link 5</a></li>
            </ul>
        </nav>
        <section id=intro class="grid-container">
            <h1 class="grid-100">LORUM IPSUM DOLOR</h1>
            <p>
                Lorem ipsum dolor sit amet.
            </p>
        </section>
        <section id="main" class="grid-container">
            <div id="topic1" class="grid-33">
                <h3>
                   Vivamus a libero vel massa 
                </h3>
                <p>
                    <img src="../grey.png"/>
                    In feugiat turpis lacus, vitae porta neque pulvinar et. Etiam mollis pulvinar nisl, at suscipit ligula maximus non. Integer volutpat tincidunt mauris ut venenatis. Nullam accumsan massa diam, vitae blandit lectus tempor quis. Ut ut ullamcorper sem. Nam ut convallis turpis. Aenean eget lacinia diam. Fusce at fermentum sapien. Fusce vestibulum eu arcu sit amet sagittis. Aliquam erat volutpat. 
                </p>
                <a id="readmore" href="more.html">Read More >></a>
            </div>
            <div id="topic2" class="grid-33">
                <h3>
                    Gravida, faucibus odio vitae
                </h3>
                <p>
                    <img src="../grey.png"/>
                    Maecenas eget consectetur urna, eget lacinia ipsum. Nam gravida in odio vel scelerisque. Curabitur et tortor quis nulla rutrum consectetur. Mauris et dapibus felis, a suscipit mauris. Aenean vulputate nibh quis nisl vestibulum, id blandit nibh sagittis. Proin eget nibh eu nisi pharetra volutpat sit amet id odio. Mauris quis dui tincidunt, iaculis mauris at, auctor nisl. Nulla facilisi.
                </p>
                <a id="readmore" href="more.html">Read More >></a>
            </div>
            <div id="topic 3" class="grid-33">
                <h3>
                    Proin ac massa
                </h3>
                <p>
                    <img src="../grey.png"/>
                    Proin vitae risus ut nunc tempor malesuada. Phasellus suscipit diam commodo diam aliquet imperdiet. Morbi imperdiet porta libero ac consequat. In porta bibendum ante, non convallis enim iaculis ac. Proin non sapien tincidunt, tincidunt ante et, ultricies elit. Cras maximus posuere volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at tristique leo, ut efficitur diam.
                </p>
                <a id="readmore" href="more.html">Read More >></a>
            </div>
        </section>
        <section id="final" class="grid-container">
            <article class="grid-66">
                <h3>
                    posuere dictum at nec
                </h3>
                <p>
                    Phasellus suscipit diam commodo diam aliquet imperdiet. Morbi imperdiet porta libero ac consequat. In porta bibendum ante, non convallis enim iaculis ac. Proin non sapien tincidunt, tincidunt ante et, ultricies elit. Cras maximus posuere volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at tristique leo, ut efficitur diam.
                </p>
            </article>
            <article class="grid-33">
                <h3>
                    Proin ac massa 
                </h3>
                <p>
                    Nullam accumsan massa diam, vitae blandit lectus tempor quis. Ut ut ullamcorper sem. Nam ut convallis turpis. Aenean eget lacinia diam. Fusce at fermentum sapien. Fusce vestibulum eu arcu sit amet sagittis. Aliquam erat volutpat.
                </p>
            </article>
        </section>
        <footer>
            <p></p>
        </footer>
    </div>
</html>