.hide {
	display: none;
}

/*icon fixes*/

.fa-circle {
	font-size: .4em;
	position: relative;
	bottom: .5em;
}

.fa-github, .fa-envelope{
	font-size: 2.5em;
	color: white;
	float: left;
}

.fa-github {
	margin: 0 .5em 1em 0;
}

.fa-envelope {
	margin-right: .5em;
	margin-bottom: 10%
}

.fa-github:hover, .fa-envelope:hover {
	color: purple;
}

/*Alignment*/

#links, #about {
	margin-top: 4em; 
}

#portfolio-heading {
	margin: 1em 1em 1em;
}

.portfolio {
	display: inline-block;
	background-color: black;
	color: white;
	padding-top: .01em;
	margin-top: -2.2em;
	padding-bottom: 5em;
}

#fila .mouseover-text, #home .mouseover-text, #tourist .mouseover-text {
	display: inline-block;
	visibility: hidden;
	float: left;
}


#fila:hover .mouseover-text {
	visibility: visible;
}

.tourist {
	position: relative;
	top: 4em;
}

.navbar {
	margin-bottom: 0;
	font-family: 'Baloo Bhaina', cursive;
}

#links {
	background-color: gray;
	color: white;
}

/*photo and footer alignments */

.ricky {
	height: 8em;
	float: left;
	margin-right: 1em;
}

footer {
	background-color: rgb(238,238, 238);
	display: inline-block;
}

#about {
	border-right-style: solid;
	margin: 0;
	padding-top: 2em;
}

.footer-bar {
	background-color: black;
}

#links {
	margin: 0;
	padding-top: 2em;
}


/*color*/

.jumbotron {
	background-color: #0E0E87;
}

.jumbotron h1 {
	color: #FFEB25;
	font-family: 'Alegreya', serif;
}

.jumbotron h2, .jumbotron h3 {
	color: #EBB000;
	font-family: 'Baloo Bhaina', cursive;
	font-size: 1.4em;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: #EBB000;
}

.navbar-header .navbar-toggle:hover {
	background-color: #AB46EB;
}

.portfolio {
	background-color: gray;
}

.portfolio h1 {
	font-family: 'Alegreya', serif;
	font-size: 4em;
}

#about {
	background-color: #3232B7;
	color: ghostwhite;
}

#links {
	background-color: #EBB000;
}

@media (max-width: 990px) {
	
	.portfolio {
		padding-bottom: 0;
	}
	
	.portfolio img {
		margin-bottom: 10em;
	}
	
	#about {
		border-style: none;
		padding-bottom: .5em
	}
	
	#links p {
		position: relative;
		top: 1em;
	}
	
	#fila .mouseover-text {
	position: relative;
	bottom: 11.5em;
}
}