.project-info-about {
	background-color: rgb(88, 88, 88);
	padding-top: 2em;
	padding-bottom: 1em;
}

.project-info-about p {
	max-width: 45em;
	margin: 0 auto 1em;
}


.project-info-links {
	background-color: rgb(34, 34, 34);
	padding-top: 2em;
}

/*My photo*/


.ricky {
	height: 8em;
	float: left;
	margin-right: 1em;
	margin-bottom: .5em;
}
