button:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 10px;
}

body {
    margin: 1em;
    background-color: rgb(251, 244, 217)	
}

/*NAVIGATION*/

nav {
    white-space: nowrap;
    background-color: rgb(170, 166, 147);
    padding: .5em;
    text-align: center;
}

button {
    display: inline-block;
    font-size: .8em;
    padding: .4em;
    margin-right: 2%;
    background-color: rgb(252, 229, 142);
    font-weight: 600;
    border-radius: .3em;
    color: rgb(127, 116, 72);
}

button:hover {
    background-color: rgb(255, 248, 220);
}

.desktop-subscribe-btn {
    width: 100%;
    white-space: nowrap;
    display: none;
}

/*MAIN LOGO*/

#logo {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}

#logo h1 {
    font-size: 4em;
    margin-bottom: 0
}

#logo h2 {
    margin-top: 0;
    font-size: .9em;
} 

/*ENTRIES*/

.entry {
    background-color: rgb(170, 166, 147);
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: .4em;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
}

.entry img {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: .5em;
}

.header {
    text-align: center;
    border-bottom-style: ridge;
    border-width: thin;
    border-color: black;
    width: 60%;
    margin: 0 auto;
}

.entry h2 {
    margin-top: -1.5em;
    font-size: .9em
}

.btn-controls button {
    margin-right: .2em;
    background-color: rgb(252, 229, 142);
    color: rgb(127, 116, 72);
    font-weight: 700;
    border-radius: .4em;
}
