.footerInfo {
  text-align: center;
  color: white;
  background-color: #35cc8b; }
  .footerInfo h1 {
    font-size: 1.5em;
    color: white; }
  .footerInfo ul {
    list-style: none;
    padding-left: 0; }
    .footerInfo ul:last-child {
      margin-bottom: 2em; }
    .footerInfo ul li {
      transition: .5s;
      cursor: pointer; }
      .footerInfo ul li:hover {
        color: black; }
  .footerInfo .copyright {
    text-align: center;
    padding: 1em 0 .5em;
    background-color: #0ea160; }

@keyframes backgroundScroll {
  50% {
    background-image: url("/app/images/clouds.jpg"); }
  75% {
    background-image: url("/app/images/hills.jpg"); }
  100% {
    background-position: right;
    background-image: url("/app/images/mountains.jpg"); } }
nav {
  height: 3em;
  background-color: lightgrey; }
  nav ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    padding-top: .5em; }
  nav li {
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
    white-space: nowrap;
    transition: .5s; }
    nav li:hover {
      color: #35cc8b; }
    nav li:not(:last-child) {
      margin-right: 2em; }

.homeBody {
  background-image: url("/app/images/cityscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  animation-name: backgroundScroll;
  animation-duration: 50s;
  animation-iteration-count: infinite; }
  .homeBody .page {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    padding: 2em;
    margin-top: -1.5em;
    width: 100%; }
    .homeBody .page .content {
      color: #d4e8eb;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -60%);
      margin: 0 auto;
      padding-top: 5em; }
      .homeBody .page .content input {
        display: block;
        width: 20em;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 1em;
        background-color: rgba(128, 128, 128, 0.7);
        border-style: none;
        height: 2.5em;
        padding-left: 1em;
        color: white;
        transition: .2s;
        text-decoration: none; }
        .homeBody .page .content input:hover {
          border-style: solid;
          border-color: white;
          text-decoration: none; }
      .homeBody .page .content button {
        display: block;
        width: 20em;
        margin: 0 auto;
        background-color: #15f593;
        color: white;
        font-weight: bolder;
        border-style: none;
        margin-bottom: 2em;
        height: 2.5em;
        transition: .5s; }
        .homeBody .page .content button:hover {
          border-style: solid;
          border-color: white; }
      .homeBody .page .content .head-icons {
        font-size: 2em;
        margin-bottom: .5em; }
        .homeBody .page .content .head-icons i {
          cursor: pointer;
          margin-right: 1em;
          transition: .5s; }
          .homeBody .page .content .head-icons i:hover {
            color: #15f593; }

@keyframes shopHeadScroll {
  33% {
    background-image: url("/app/images/displayDress.jpg"); }
  66% {
    background-image: url("/app/images/blueshoes.jpg");
    background-position: center; }
  100% {
    background-image: url("/app/images/children.jpg");
    background-position: right; } }
.userBody {
  background-color: #dfdfdf; }

h1 {
  color: #35cc8b; }

.shopHeadImg {
  background-image: url("/app/images/groupOGuys.jpg");
  background-position: left;
  background-size: cover;
  height: 100%;
  color: white;
  display: block;
  margin-top: -1.5em;
  animation: shopHeadScroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  position: relative; }
  .shopHeadImg .drkOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: relative;
    padding: 1em; }
  .shopHeadImg h1 {
    margin: 0;
    font-size: 3em;
    position: absolute;
    top: 30%; }
  .shopHeadImg h2 {
    font-size: 1em;
    font-weight: lighter;
    position: absolute;
    top: 45%;
    max-width: 20em; }
  .shopHeadImg button {
    background-color: #35cc8b;
    border-style: solid;
    border-radius: .3em;
    border-width: thin;
    margin-top: 2em;
    font-size: 1em;
    padding: .5em 1em;
    transition: .5s;
    position: absolute;
    top: 60%; }
    .shopHeadImg button:hover {
      background-color: #0ea160; }

.featuredRow {
  text-align: center;
  padding: 1em 0; }
  .featuredRow .featured {
    display: inline-block; }
    .featuredRow .featured .featImgWrap {
      width: 10em; }
      .featuredRow .featured .featImgWrap img {
        width: 100%; }
    .featuredRow .featured h1 {
      font-size: 1.5em; }
    .featuredRow .featured button {
      background-color: #35cc8b;
      color: white;
      border-style: solid;
      border-radius: .3em;
      border-width: thin;
      font-size: 1em;
      padding: .5em 1em;
      transition: .5s; }
      .featuredRow .featured button:hover {
        background-color: #0ea160; }

.moreBar {
  text-align: center;
  background-color: #35cc8b;
  color: white;
  font-weight: thick;
  padding: .5em 0 .1em; }

.moreProduct {
  text-align: center;
  margin-bottom: 3em; }
  .moreProduct .moreImgWrap {
    margin-top: 2em; }
    .moreProduct .moreImgWrap img {
      max-height: 20em;
      border-radius: .2em; }
  .moreProduct h1 {
    margin: .5em 0 0; }
  .moreProduct h2 {
    margin: 0 0 .5em; }
  .moreProduct button {
    background-color: #35cc8b;
    color: white;
    border-style: solid;
    border-radius: .3em;
    border-width: thin;
    font-size: 1em;
    padding: .5em 1em;
    transition: .5s; }
    .moreProduct button:hover {
      background-color: #0ea160; }

@media (min-width: 992px) {
  #pageDescription {
    font-size: 2em;
    max-width: 15em; }

  #headBtn {
    top: 80%; }

  .featuredRow {
    margin: 2em 0; }
    .featuredRow .featured {
      margin-right: 2em; }
      .featuredRow .featured .featImgWrap {
        width: 20em; } }
.userNav .shopHeader {
  padding: 1em;
  position: relative; }
  .userNav .shopHeader span {
    padding-right: 1em; }
  .userNav .shopHeader .searchBar {
    display: inline-block;
    width: 10em; }
    .userNav .shopHeader .searchBar input {
      border-style: solid;
      border-width: thin;
      padding-left: .5em; }
  .userNav .shopHeader .fa-shopping-cart {
    float: right;
    font-size: 2em;
    transition: .5s;
    cursor: pointer; }
    .userNav .shopHeader .fa-shopping-cart:hover {
      color: #35cc8b; }
.userNav .shopNav {
  background-color: #35cc8b;
  color: white;
  text-align: center; }
  .userNav .shopNav .navbar-collapse {
    max-width: 42em;
    font-size: 1.3em;
    margin: 0 auto; }
  .userNav .shopNav li {
    font-size: 1em;
    margin-right: .5em; }
    .userNav .shopNav li:hover {
      color: black; }
  .userNav .shopNav button {
    border-color: white; }

/*# sourceMappingURL=style.css.map */
