body {
	background-color: rgb(244,244,244);
	font-family: 'Roboto', sans-serif;
	color: rgb(60, 59, 59)
} 

#content {
	margin-top: 7em;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: rgb(49, 49, 49);
}

h2 {
	font-size: 1em;
	font-weight: 100;
	margin-top: 0;
}

a {
	transition: .3s;
}

button {
	transition .3s;
}

.aside-head h2 {
	font-size: 1.1em;
	font-style: normal;
}

/*NAV*/

.nav-logo {
 	width: 2.5em;
	height: 1.5em;
	margin-left: .5em;
}


/****main content****/

/*Header*/

#phead-wrap {
	margin: 0 auto;
	text-align: center;
}

#phead-wrap img {
	width: 5em;
}

#phead-wrap h1 {
}



/*ARTICLES*/

.feat-article {
	margin-bottom: 4em;
	background-color: white;
}

/*top of articles*/
.art-info {
	text-align: center;
	padding: 1em;
}

.date {
	font-weight: 700;
}

.profile-pic {
	width: 3em;
	height: 3em;
	border-radius: 3em;
}

/*body of articles*/

.sub-pic {
	height: 11em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 38em;
	margin: 0 auto;
}

#sub-pic-1 {
	background-image: url(images/green%20mountains.jpg);
}

#sub-pic-2 {
	background-image: url(images/redWall.jpg);
}

#sub-pic-3 {
	background-image: url(images/coffeeBeans.jpg);
}

.feat-article {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
	border-color: rgb(211,211,211);
	margin-bottom: 2.5em;
}

.featured-art h2 {
	font-size: 1.5em;
	margin-top: 0;
}

.meta {
	padding-top: 2em;
	margin-bottom: 1em;
	height: 7.3em;
}

.meta a {
	color: grey;
	font-weight: bold
}

.submission p {
	width: 80%;
	margin: 1.5em auto 0;
	padding-bottom: 2em;
	max-width: 38em;
}

.submission-options {
	margin-bottom: 2em;
}

.right-sub-options {
	text-align: center;
	margin-bottom: 2.5em;
}


.right-sub-options a {
	margin-right: 2em;
	color: rgb(187, 186, 189);
}

.right-sub-options a:hover {
	color: black;
	text-decoration: none;
}

.btn-wrap {
	text-align: center;
}

.submission-options button {
	width: 23em;
	height: 3.5em;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: light-grey;
	margin-bottom: 2em;
}

.featured-control button {
	width: 23em;
	height: 3.5em;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: light-grey;
	margin-bottom: 2em;
}

.feat-ctrl-top {
	margin-bottom: -1em;
}

.fa-angle-left, .fa-angle-right {
	font-weight: 500;
}

/*ASIDE*/

.past-feat {
	height: 18em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	max-width: 26em;
	margin: 0 auto 2em;
}

.bot-description {
	background-color: white;
	position: relative;
	padding: 0 1em;
	top: 12.5em;
}

.left-bot-description, .right-bot-description {
	display: inline-block;
}

.right-bot-description {
	float: right;
	position: relative;
	top: 1.5em;
}

.past-title {
	font-size: 1.5em;
}

.past-date {
	color: grey;
}

#past-1 {
	background-image: url(images/Above%20the%20clouds1.jpg);
}

#past-2 {
	background-image: url(images/yellowSweater.jpg);
}

#past-3 {
	background-image: url(images/duckies.jpg);
}

#past-4 {
	background-image: url(images/cityscape.jpg);
}

/*SMALL ASIDE LINKS*/

.sm-past {
	border-bottom-style: solid;
	border-width: thin;
	border-color: lightgrey;
}

.sm-past img {
	width: 4em;
	height: 4em;
	margin-right: 1em;
	position: relative;
	bottom: 1em
}

.small-descript {
	display: inline-block;
}

.sm-title {
	font-size: 1.3em;
}

.sm-date {
	color: grey;
}

/*ABOUT*/

#about h1 {
	font-size: 1.5em;
}

#about p {
	color: grey;
	margin-bottom: 2em;
}

#about button {
	width: 23em;
	height: 3.5em;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: light-grey;
	margin-bottom: 2em;
}

.social-links {
	margin-bottom: 2em;
}

.social-links i {
	margin-left: 1em;
	font-size: 1.5em;
	color: rgb(187, 186, 189);
	transition: .3s
}

.social-links i:hover {
	color: rgb(121, 113, 125);
}


/*
@media (min-width: 540px) {
	.past-feat {
		display: inline-block;
	}
}
*/

@media (min-width: 992px) {
/*	html{background-color: green;}*/
	
	#content {
		margin-top: 3.6em;
	}
	
	#phead-wrap {
		text-align: left;
		margin-top: 3em;
		margin-bottom: 5em;
	}
	
	#phead-wrap h1 {
		font-size: 4em;
	}
	
	#phead-wrap h2 {
		font-size: 1.3em;
		color: grey;
	}
	
	.featured-art {
		float: right;
		margin-top: 3em;
	}
	
	.art-info {
		text-align: left;
		padding-left: 3em;
		padding-right: 3em;
	}
	
	.headings {
		display: inline-block;
		text-align: left;
		margin: 0;
	}
	
	.meta {
		display: inline-block;
		float: right;
		padding: 2em 5em 0 0;
	}
	
	.meta .profile-pic {
		position: relative;
		left: 10em;
		bottom: 4em;
	}
	
	.sub-pic {
		height: 15em;
		width: 90%;
	}
	
	.right-sub-options {
		display: inline-block;
		float: right;
		margin-right: 3em;
		margin-top: 1em;
	}
	
	.submission-options .btn-wrap {
		display: inline-block;
		margin-left: 3em;
	}
	
	.submission-options button {
		width: 15em;
	}
	
	.featured-control .btn-wrap {
		text-align: left;
		display: inline-block;
		margin-right: 1em
	}
	
	.featured-control button {
		width: 15em;
	}
	
	#about .btn-wrap {
		text-align: left;
		margin-left: 1em;
	}
	
	#about button {
		width: 10em
	}
	
}